<a href="https://colab.research.google.com/github/HomemJaguar111/UpLand-/blob/main/Arlington.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
ARL1PPdados = pd.read_excel('/content/drive/MyDrive/UpLand/Arlington/ARL1.xlsx')
ARL2PPdados = pd.read_excel('/content/drive/MyDrive/UpLand/Arlington/ARL2.xlsx')

In [6]:
ARLPP1 = pd.merge(ARL1PPdados, ARL2PPdados, how='outer')
ARLPP = ARLPP1.drop_duplicates()

In [82]:
ppArlington = ARLPP[["Address","Status","Neighborhood","UP2","Yield Per Month","Mint Price","Last Price","Sale Price"]]

In [83]:
ppSaleL = (ppArlington["Status"] == "For sale")

In [84]:
ppSale = ppArlington[ppSaleL]

In [85]:
ppSaleUPX = (ppSale["Sale Price"] > 3000)
ppSaleDollar = (ppSale["Sale Price"] < 3000)

In [86]:
ppSaleUPX

1         True
13        True
16       False
19        True
23        True
         ...
18853     True
18864     True
18865     True
18867     True
18868     True
Name: Sale Price, Length: 2359, dtype: bool

In [87]:
ppUPX = ppSale[ppSaleUPX]
ppDollar = ppSale[ppSaleDollar]

In [88]:
ppDollar

,Address,Status,Neighborhood,UP2,Yield Per Month,Mint Price,Last Price,Sale Price
16,959 CEDARLAND BLVD,For sale,EAST,9,"16,44",1359.0,25000.0,50.00
47,1930 CHIEFTAIN LN,For sale,EAST,14,"25,57",2114.0,5000.0,33.00
224,2316 CHAPEL HILL LN,For sale,EAST,24,"43,84",3624.0,8100.0,15.00
594,2436 LIMESTONE DR,For sale,EAST,33,"60,27",4983.0,8999.0,14.99
863,1906 REEVER ST,For sale,EAST,39,"71,23",5889.0,6500.0,8.45
...,...,...,...,...,...,...,...,...
18244,1606 GREEN HILL DR,For sale,EAST,87,"158,91",13137.0,13137.0,26.00
18447,1604 E TIMBERVIEW LN,For sale,EAST,86,"157,08",12986.0,12986.0,17.59
18616,1619 KENT DR,For sale,EAST,85,"155,25",12835.0,6500.0,10.00
18746,3110 RIVER BEND RD,For sale,EAST,85,"155,25",12835.0,12835.0,15.79
18822,1012 WINNSBORO CT,For sale,EAST,84,"153,43",12684.0,12684.0,18.00

In [89]:
ppUPX

,Address,Status,Neighborhood,UP2,Yield Per Month,Mint Price,Last Price,Sale Price
1,909 CEDARLAND BLVD,For sale,EAST,8,"14,61",1208.0,19888.0,30000.0
13,929 CEDARLAND BLVD,For sale,EAST,9,"16,44",1359.0,14448.0,22777.0
19,923 CEDARLAND BLVD,For sale,EAST,9,"16,44",1359.0,10900.0,29950.0
23,925 CEDARLAND BLVD,For sale,EAST,10,"18,26",1510.0,13000.0,30000.0
27,965 CEDARLAND BLVD,For sale,EAST,10,"18,26",1510.0,17999.0,69420.0
...,...,...,...,...,...,...,...,...
18853,2326 FOXCROFT LN,For sale,EAST,84,"153,43",12684.0,12684.0,48000.0
18864,3702 CLAYSFORD CT,For sale,EAST,84,"153,43",12684.0,12684.0,200000.0
18865,3705 GEORGETOWN ST,For sale,EAST,84,"153,43",12684.0,12684.0,29555.0
18867,3704 CLAYSFORD CT,For sale,EAST,84,"153,43",12684.0,12684.0,300000.0
18868,3706 CLARK CT,For sale,EAST,84,"153,43",12684.0,12684.0,29555.0

In [46]:
ARLPP = ARLPP1.drop_duplicates()

In [91]:
mintCity = ARLPP['Mint Price'].sum()
up2City = ARLPP['UP2'].sum()
up2Sale = ARLPP['Sale Price'].sum()

In [92]:
up2Sale

2954549360.4199996

In [93]:
up2City

3021949

In [94]:
totalSaleUPX = ppUPX['Sale Price'].sum()

In [106]:
totalSaleDollar = ppDollar['Sale Price'].sum()

In [96]:
totalSaleUPX

2954530692.0

In [103]:
up2CityUPXSale = ppUPX['UP2'].sum()
up2CityDollarSale = ppDollar['UP2'].sum()

In [109]:
upxUp2Mint = mintCity/up2City
upxUp2Sale = totalSaleUPX/up2CityUPXSale
dollarUp2Sale = totalSaleDollar/up2CityDollarSale

In [107]:
totalSaleDollar

18668.42

In [108]:
up2CityDollarSale

41570

In [110]:
dollarUp2Sale

0.4490839547750781